* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  font-family: 'Poppins', Sans-Serif;
}
:root {
  --bg-color: #202020;
  --second-bg-color: #594750;
  --text-color: #fff;
  --main-color: #ff00b3 ;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 10% 4rem;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.logo {
  font-size: 2.8rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.logo span {
  text-shadow: 0 0 25px var(--main-color);
}
.navbar{
  display: block;
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.3s ease;
  margin-left: 4rem;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  flex-direction: column;
  margin-top: 3rem;
}
span, .logo span {
  color: var(--main-color);
}
.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}
.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home-img {
  border-radius: 50%;
}
.home-img img {
  position: relative;
  top: 3rem;
  box-shadow: 0 0 25px var(--main-color);
  width: 32vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
  
}
.home-content p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}
.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  transform: scale(1.3)translateY(-5px);
  color: var(--text-color);
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  color: black;
  font-weight: 600;
  font-size: 1.6rem;
  box-shadow: 0 0 25px var(--main-color);
  letter-spacing: 0.1rem;
  border: 2px solid transparent;
  border-radius: 4rem;
  transition: .3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn-group a:nth-of-type(2) {
  background: black;
  box-shadow: 0 0 25px transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.btn-group a:nth-of-type(2):hover {
  color: black;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.text-animate {
  font-size: 34px;
  font-weight: 600;
  min-width: 200px;
}
.text-animate span {
  position: relative;
}
.text-animate span::before{
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animate span::after {
  content: "";
  background: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to{
    border-left: 3px solid var(--main-color);
  }
}
@keyframes words {
  1%,
  20%{
    content:"NodeJs Developer";
  }
  21%,
  40%{
    content: "Frontend Developer";
  }
  41%,
  60%{
    content: "API Developer";
  }
  61%,
  80%{
    content: "Web Developer";
  }
  81%,
  100%{
    content: "Web Designer";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%{
    width: calc(100% + 8px);
  }

}





  /* Education section */
  
.heading {
    font-size: 8rem;
    margin: 5rem 0;
    text-align: center;
}
.education{
    padding: 100px, 15px;
    background: var(--second-bg-color);
}
.education h2 {
  margin-bottom: 5rem;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: var(--main-color);
  left: calc(50% - 1px);
}
.timeline-item {
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  align-items: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot{
  width: 21px;
  height: 21px;
  background: var(--main-color);
  border-radius: 50px;
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  top: 10px;
}
.timeline-date{
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  margin: 6px 0 15px;
}
.timeline-content {
  background: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 10px;
}
.timeline-content p{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--main-color);
  width: 50px;
}

/* SERVICES */

.services{
  background: var(--bg-color);
  color: #000;
}
.services h2 {
  margin-bottom: 5rem;
  color: #fff;
}
.services-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.service-box {
  background: linear-gradient(45deg, var(--main-color), rgb(93,3,114));
  height: 300px;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.service-box:hover {
  background: #fff;
  color: #000;
  border: 3px solid var(--main-color);
  transform: scale(1.03);
}

.service-box .service-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: left;
  align-items: baseline;
  padding: 3rem 3rem;
}
.service-info h4 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.7;
}
.service-info p {
  font-size: 1.6rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}

/* Testimonials */

.testimonials{
  background: var(--second-bg-color);
}
.testimonials-box{
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonials-box .heading{
  margin-bottom: 5rem;
}
.testimonials-box img {
  width: 15rem;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.testimonial-item {
  min-height: 550px;
  max-width: 450px;
  background: rgba(0,0,0,0.7);
  border: 3px solid rgba(238,238,238,0.2);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: #fff;
  transition: 0.4s ease-in-out;
}

.testimonial-item:hover {
  border: 3px solid var(--main-color);
  transform: translateY(-10px)scale(1.03);
  box-shadow: 0 0 50px var(--main-color);
}
.testimonial-item h2 {
  font-size: 2.8rem;
}
.testimonial-item p {
  font-size: 1.6rem;
}
#star{
  color: gold;
  font-size: 2rem;
}

/*  CONTACT SECTION */

.contact {
  background: var(--bg-color);
}
.contact h2 {
  margin-bottom: 3rem;
  color: white;
}
.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}
.input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-box input,
form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border:2px solid var(--main-color);
  border-radius: 2rem;
  margin: 1.5rem 0;
}
.contact form .btn{
  margin-top: 2rem;
}
.footer{
  position: relative;
  top: 0;
  width: 100%;
  padding: 50px 0;
  background: var(--second-bg-color);
}
.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}
.footer .social a{
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;
  transition: .3s ease-in-out;
}
.footer .social a:hover{
  transform: scale(1.2)translateY(-10px);
  background: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
  margin-top: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6rem;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: .3s ease-in-out;
}
.footer ul li a:hover{
  border-bottom: 3px solid var(--main-color);
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
  
}
.footer .copyright{
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}








@media(max-width:1285px) {
  html {
    font-size: 55%;
  }
  .services-container{
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 7rem;
    margin: 0 5rem;
    
  }
}

@media(max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  section{
    padding: 7rem 3% 2rem;
  }
  .heading {
    font-size: 5rem;
    margin: 1.5rem
    
  }
  .timeline-content {
  padding: 30px 30px;
}
  
  .timeline-items::before{
    left: 7px;
  }
  .timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
    
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
    
  }
  .timeline-dot{
    left: 0;
  }
  .services{
    padding-bottom: 0;
  }
  .testimonials .wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  .contact form{
    flex-direction: column;
  }
  .footer{
    padding: 2rem 3%;
  }
}

@media(max-width: 695px) {
  #menu-icon{
    display: block;
  }
  .header{
    padding: 3rem 12% 3rem;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(20%);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar.active{
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }
  .home{
    flex-direction: column-reverse;
    margin: 2rem 2rem;
  }
  .home-content h3{
    font-size: 2rem;
  }
  .home-content h1{
    font-size: 3.5rem;
    margin: 0.5rem;
    
  }
  .home-content p{
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img{
    width: 70vw;
    
  }
  .services h2{
    margin-bottom: 3rem;
  }
  .services-container{
    grid-template-columns: repeat(1,1fr);
    padding-bottom: 2rem;
  }
  .footer ul li {
    padding: 0 5px;
  }
}